.chippy{
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-tertiary-contrast);
    display: inline-flex;
    font-weight: bolder;
    margin: 12px;
    margin-bottom: 0px;
    padding: 0px 1rem;
    border-radius: 99px;
    font-size: 0.8rem;
    &.valued{
        background-color: var(--ion-color-danger);
        color: var(--ion-color-danger-contrast);
    }
}