:root{
    font-size: large;
    @media (max-width: 600px) {
        font-size: normal;
    }
}
@for $i from 1 through 4 {
    h#{$i}{
        font-size: calc(3rem / $i);
        @media (max-width: 600px) {
            font-size: calc(2rem / $i);
        }
    }
}
.slide{
	width: 100vw;
	height: 50vh;
	object-fit: cover;
	object-position: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
    background-position: center;
    background-size: cover;
    position: relative;
    .inner{
        padding: 1rem;
    }
    h1, h2, h3, h4, p{
        display: inline-block;
        width: fit-content;
        padding: 0;
        margin: 0;
        background-color: var(--ion-color-dark);
        background-blend-mode: multiply;
        opacity: 0.8;
    }
    p{
        padding: 12px;
    }
    button{
        display: inline-block;
        width: fit-content;
        margin: 1rem 0rem;
        background-color: var(--ion-color-secondary);
        color: var(--ion-color-secondary-contrast);
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
        border-radius: 99px;
        transition: 300ms;
        &:hover{
            background-color: var(--ion-color-tertiary);
        }
    }
    .slide-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .desc{
        @media (max-width: 600px) {
            display: none;
        }
    }
}