@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

* {
	font-family: "Work Sans", sans-serif;
	// border-radius: 0px;
}
h1,
h2,
ion-card-title,
ion-item ion-label {
	// font-family: 'Lora', serif !important;
}
.fluid {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
}
.dark {
	background-color: var(--ion-color-dark);
}
.main-menu__item {
	background-color: white;
	ion-label {
		text-transform: uppercase;
		transition: 500ms;
	}
}
.content-bottom {
	padding-bottom: 25vw;
}
ion-card {
	// border-radius: 0px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: none !important;

	-webkit-text-fill-color: inherit !important;

	/* -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset; */

	transition: background-color 5000s ease-in-out 0s;
}

.flashing-logo {
	animation: flashing 500ms infinite;
}

@keyframes flashing {
	0% {
		opacity: 0.5;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0.5;
	}
}

.large-order-no {
	font-size: 7vh;
	font-family: "Share Tech Mono", monospace;
}

.mono-text {
	font-family: "Share Tech Mono", monospace;
}

ion-chip.solid-bg-chip {
	background-color: #faa !important;
}

.chippy {
	background-color: var(--ion-color-medium);
	color: var(--ion-color-medium-contrast);
	display: inline-flex;
	font-weight: bolder;
	margin: 12px;
	margin-bottom: 0px;
	padding: 0px 1rem;
	border-radius: 99px;
	font-size: 0.8rem;
	&.gold {
		background-color: var(--ion-color-warning);
		color: var(--ion-color-warning-contrast);
	}
}

.cusom-select-interface .gear-select-option {
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 12px;
}

.banner-heading {
	font-size: min(48px, 12vw) !important;
}
.calendar-ph-tile {
	color: #d10000;
	&.react-calendar__tile--active {
		color: #fff;
	}
}
.customAvatar {
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		margin: 0;
		padding: 0;
		font-weight: bold;
		line-height: normal;
		font-size: 33px;
	}
}