.page-banner {
	width: 100%;
	height: 40vh;
	.page-banner-bg-image,
	.page-banner-bg-video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		transition: 500ms;
		opacity: 0;
		&.show {
			opacity: 1;
		}
		source {
			&.show {
				opacity: 1;
			}
		}
	}
	h1 {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
	}
}
